body {
    font-family: 'Tahoma', sans-serif;
    background: linear-gradient(135deg, #8cbfe0, #d45b5b);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.header-title {
    font-size: 28px;
    margin-bottom: 20px;
    color: #1a237e;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(228, 84, 84, 0.2);
}

.calculator {
    background-color: #58070773;
    padding: 25px;
    border-radius: 25px;
    box-shadow: 0 6px 25px rgba(231, 101, 101, 0.25);
    width: 320px;
}

#display {
    width: 100%;
    height: 55px;
    font-size: 26px;
    text-align: right;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 12px;
    border: 1px solid #720202;
    color: #52454fe7;
    font-weight: bold;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

button {
    padding: 16px;
    font-size: 18px;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    background-color: #a4a2ee98;
    transition: 0.2s;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

button:hover {
    background-color: #39f30a6e;
    transform: translateY(-2px);
}

.equal {
    grid-column: span 2;
    background-color: #550303;
    color: white;
    font-weight: bold;
}

.equal:hover {
    background-color: #ec0c0c91;
}